# Dependencies
node_modules/

# Hardhat
cache/
artifacts/
typechain-types/

# Coverage
coverage/
coverage.json

# Environment
.env

# Build
dist/

# IDE
.vscode/
.idea/

# Next.js
.next/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
